.bg-1 {
  background-color: #0b3954;
}

.bg-2 {
  background-color: #087e8b;
}

.bg-3 {
  background-color: #bfd7ea;
}

.bg-4 {
  background-color: #ff5a5f;
}

.bg-5 {
  background-color: #c81d25;
}

.text-1 {
  color: #0b3954;
}

.text-2 {
  color: #087e8b;
}

.text-3 {
  color: #bfd7ea;
}

.text-4 {
  color: #ff5a5f;
}

.text-5 {
  color: #c81d25;
}
