<header class="navbar navbar-expand-md navbar-dark bg-dark d-print-none">
  <div class="container-xl d-flex justify-content-between">
    <!-- Logo / Título -->
    <a class="navbar-brand text-white" href="#">Municipios</a>

    <div class="navbar-nav">
      <div class="nav-item dropdown">
        <a
          href="#"
          class="btn d-flex align-items-center text-black"
          data-bs-toggle="dropdown"
          aria-label="Open language menu">
          <img src="https://flagcdn.com/w40/es.png" alt="Español" width="24" height="16" class="me-2">
          Español
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="#" class="dropdown-item">Quechua </a>
          <a href="#" class="dropdown-item">Aymara</a>
          <a href="#" class="dropdown-item">Español</a>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="navbar navbar-expand-md">
  <div class="container-xl">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio +</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="#">Tours +</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Destinos +</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</header>
