<header class="bg-1 fixed top-0 w-full z-50 shadow-md">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <span class="text-xl font-bold text-[#ffffff]">CHUQUISACA</span>
    </div>
    <!-- Navigation -->
    <nav class="hidden md:flex space-x-6 text-[#ffffff]">
      <div class="group relative">
        <a href="#" class="hover:underline">Municipios</a>
      </div>
      <div class="group relative">
        <a href="#" class="hover:underline">Lugares</a>
      </div>
    </nav>

    <!-- Icons -->
    <div class="flex space-x-4">
      <a href="#">
        <img src="/lang.webp" alt="Language" class="h-6 w-6" />
      </a>
    </div>
  </div>
</header>
