<div class="container">
  <h1>hola mundo</h1>
</div>
<p class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam distinctio
  dolorem quae quam doloremque eius tempora, architecto consectetur obcaecati
  commodi expedita laboriosam, deleniti alias laborum minus totam inventore
  necessitatibus dolores.
</p>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
