<div class="page-body mt-6">
  <div class="container-xl">
    <div class="row g-2 g-md-3">
      <div class="col-lg-6"></div>
      <div class="row g-2 g-md-3">
        <p class="font-bold text-dark mt-5 fs-1">@CHUQUISACA</p>
        <div class="col-6">
          <a data-fslightbox="gallery" href="/test.jpg">
            <!-- Photo -->
            <div
              class="img-responsive img-responsive-1x1 rounded-3 border"
              style="background-image: url(/test.jpg)">
            </div>
          </a>
        </div>
        <div class="col-6">
          <div class="row g-2 g-md-3">
            <div class="col-6">
              <a data-fslightbox="gallery" href="/test.jpg">
                <!-- Photo -->
                <div
                  class="img-responsive img-responsive-1x1 rounded-3 border"
                  style="background-image: url(/test.jpg)">
                </div>
              </a>
            </div>
            <div class="col-6">
              <a data-fslightbox="gallery" href="/test.jpg">
                <!-- Photo -->
                <div
                  class="img-responsive img-responsive-1x1 rounded-3 border"
                  style="background-image: url(/test.jpg)">
                </div>
              </a>
            </div>
            <div class="col-6">
              <a data-fslightbox="gallery" href="/test.jpg">
                <!-- Photo -->
                <div
                  class="img-responsive img-responsive-1x1 rounded-3 border"
                  style="background-image: url(/test.jpg)">
                </div>
              </a>
            </div>
            <div class="col-6">
              <a data-fslightbox="gallery" href="/test.jpg">
                <!-- Photo -->
                <div
                  class="img-responsive img-responsive-1x1 rounded-3 border"
                  style="background-image: url(/test.jpg)">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
