---
import { onMount } from "astro/runtime";


const images = [
  "/galeria/image1.png",
  "/galeria/image2.png",
  "/galeria/image3.png",
  "/galeria/image4.png",
  "/galeria/image5.png",
  "/galeria/image6.png",
];

let randomImages = [...images].sort(() => Math.random() - 0.5).slice(0, 3);
let showAll = false;

const toggleGallery = () => {
  showAll = !showAll;
   console.log("Toggle Gallery:", showAll);
};
---

<section class="gallery-container">
  <h2>@ CHUQUISACA</h2>
  
  <div class="gallery-grid">
    {(showAll ? images : randomImages).map((img) => (
      <img src={img} alt="Imagen de la galería" class="gallery-img" />
    ))}
  </div>

  <button class="btn" onClick={toggleGallery}>
    {showAll ? "Ver menos" : "Ver todas las imágenes"}
  </button>
</section>

<style>
  @import "./style_galeria.css";
</style>

