<div class="page-body">
  <div class="container-xl">
    <p class="font-bold text-dark mt-5 fs-1">@Lugares Turisticos</p>
    <div class="row row-cards">
      <div class="col-md-6 col-lg-3">
        <a href="#" class="card card-link card-link-pop">
          <div class="card-body">
            <span class="fs-2">INFO 1</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex
              dolore debitis recusandae id aperiam libero quibusdam. Ab quae
              odit possimus voluptas libero eveniet fugit. Tempore recusandae
              eum minima nisi?
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-3">
        <a href="#" class="card card-link card-link-pop">
          <div class="card-body">
            <span class="fs-2">INFO 2</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex
              dolore debitis recusandae id aperiam libero quibusdam. Ab quae
              odit possimus voluptas libero eveniet fugit. Tempore recusandae
              eum minima nisi?
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-3">
        <a href="#" class="card card-link card-link-pop">
          <div class="card-body">
            <span class="fs-2">INFO 3</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex
              dolore debitis recusandae id aperiam libero quibusdam. Ab quae
              odit possimus voluptas libero eveniet fugit. Tempore recusandae
              eum minima nisi?
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-3">
        <a href="#" class="card card-link card-link-pop">
          <div class="card-body">
            <span class="fs-2">INFO 4</span>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ex
              dolore debitis recusandae id aperiam libero quibusdam. Ab quae
              odit possimus voluptas libero eveniet fugit. Tempore recusandae
              eum minima nisi?
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
