<div class="page-body">
  <div class="container-xl">
    <h1
      class="font-bold text-dark mt-5 mb-4 text-center"
      style="font-size: 2.5rem;"
    >
      Explore Actividades
    </h1>
    <div class="row ">
      <div class="col  justify-content-center  ">
        
        <div class="col ">
          <div class="card">
            <div class="card-body text-center">
              <h3 class="fs-2">imagen de la actividad</h3>
            </div>
          </div>
        
        </div>
      </div>

    
      
        
    <div class="col-md-4 col-lg-6">
      <div class="card-body">
        <h2 class="text-center mb-3" style="font-size: 1.8rem;">
          Thrill Above Ground: The Zip Line Adventure
        </h2>
        <p class="text-center" style="font-size: 1.1rem;">
          Embark on an adrenaline-fueled journey, zipping through lush
          landscapes, feeling the wind rush past, and experiencing heights from
          breathtaking views. Unleash your inner adventurer today.
        </p>
      </div>
    </div>

    
    </div>
  

  </div>
</div>
