.mapsvg-region {
  cursor: pointer;
  stroke: #fff;
  stroke-width: 1.77073px;
  fill: #ecf5fc;
  pointer-events: all;
}

.mapsvg-region:hover {
  fill: #4299e1;
  stroke: #fff;
  stroke-width: 1.77073px;
  transition: fill 0.4s;
  box-shadow: 0 0 20px #fff;
}

svg {
  pointer-events: all;
}

.activeMap {
  fill: #4299e1;
  stroke: #fff;
  stroke-width: 1.77073px;
  transition: fill 0.4s;
  box-shadow: 0 0 20px #fff;
}
